html, body {
    height: 100%; /* Altura completa para html y body */
    margin: 0; /* Sin márgenes */
}

.container {
    height: 100vh; /* Altura completa de la ventana */
    display: flex; /* Usar flexbox para centrar el contenido */
    flex-direction: column; /* Disponer el contenido en columna */
    justify-content: center; /* Centrar verticalmente */
    position: relative; /* Permite posicionar el footer de forma fija */
}

/* Mensaje de error que ocupa todo el ancho */
.alert {
    position: fixed; /* Fijo en la parte superior */
    top: 0; /* Posición superior */
    left: 0; /* Posición a la izquierda */
    width: 100%; /* Ocupa todo el ancho */
    z-index: 1050; /* Por encima de otros elementos */
    margin: 0; /* Sin márgenes */
    border-radius: 0; /* Sin bordes redondeados */
}


.card {
    max-width: 400px; /* Ancho máximo de la tarjeta */
    margin: auto; /* Centrar la tarjeta */
    border-radius: 15px; /* Bordes redondeados */
}
