html, body {
    height: 100%; /* Altura completa para html y body */
    margin: 0; /* Sin márgenes */
}

.container {
    height: 100vh; /* Altura completa de la ventana */
    display: flex; /* Usar flexbox para centrar el contenido */
    flex-direction: column; /* Disponer el contenido en columna */
    justify-content: center; /* Centrar verticalmente */
    position: relative; /* Permite posicionar el footer de forma fija */
}



.card {
    max-width: 400px; /* Ancho máximo de la tarjeta */
    margin: auto; /* Centrar la tarjeta */
    border-radius: 15px; /* Bordes redondeados */
}
