
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad */
    z-index: 1040; /* Debe estar por debajo del modal */
    display: none; /* Oculto por defecto */
}

.modal.show + .modal-overlay {
    display: block;
}
