/* Footer que ocupa todo el ancho */
footer {
    position: fixed; /* Fijo en la parte inferior */
    bottom: 0; /* Posición en la parte inferior */
    left: 0; /* Posición a la izquierda */
    width: 100%; /* Ocupa todo el ancho */
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo */
    text-align: center; /* Centrar texto */
    padding: 10px; /* Espaciado interno */
    font-size: 0.9rem; /* Tamaño del texto */
}
