@page
@model ProyectoFinal.VetSite.Pages.Usuarios.IndexModel
@{
    ViewData["Title"] = "Gestión de Usuarios";
}

<h2>Lista de Usuarios</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.Usuarios)
        {
            <tr>
                <td>@usuario.Nombre</td>
                
                <td>
                    <a asp-page="./Edit" asp-route-id="@usuario.UsuarioID">Editar</a> |
                    <a asp-page="./Delete" asp-route-id="@usuario.UsuarioID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Create">Agregar Usuario</a>