<link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />

<footer class="footer text-center text-muted">
    <div class="p-2">
        <small>
            © 2024 Vet-Site. Todos los derechos reservados. |
            <a class="text-muted" href="#">Política de privacidad</a> |
            <a class="text-muted" href="#">Términos de servicio</a>
        </small>
    </div>
</footer>
