<link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />



<footer class="text-center text-lg-start text-muted mt-5">
    <div class="text-center p-3">
        © 2024 Vet-Site. Todos los derechos reservados.
        <br />
        <a class="text-muted" href="#">Política de privacidad</a>        |
        <a class="text-muted" href="#">Términos de servicio</a>
    </div>
</footer>
