@{
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="container">
    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div class="alert alert-danger text-center" role="alert">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <div class="card shadow-lg">
            <div class="card-body p-5">
                <div class="text-center mb-4">
                    <h3 class="fw-bold" style="color: #00aaff;">Vet-Site</h3>
                </div>

                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Correo electrónico</label>
                        <div class="input-group">
                            <span class="input-group-text bg-light">
                                <i class="bi bi-person-fill"></i>
                            </span>
                            <input type="text" class="form-control" id="correoElectronico" name="correoElectronico" placeholder="Correo electrónico" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="clave" class="form-label">Clave</label>
                        <div class="input-group">
                            <span class="input-group-text bg-light">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                            <input type="password" class="form-control" id="clave" name="clave" placeholder="Clave" required>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #00aaff; border: none;">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <partial name="_Footer"></partial>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
