@model ProyectoFinal.Entidades.Cirugia

@{
    ViewBag.Title = "Crear una cirugía";
}
<head>
    <link rel="stylesheet" href="~/css/users.css" asp-append-version="true" />
</head>

<h1>@ViewBag.Title</h1>

<form asp-action="Crear" method="post">
    <div class="card">
        <div class="card-body">
            <partial name="_Formulario" model="Model" />
        </div>
    </div>
</form>
