@model ProyectoFinal.Entidades.Cirugia

@{
    ViewBag.Title = "Editar Cirugia";
}


<h1>@ViewBag.Title</h1>

<form asp-action="Editar" method="post">
    <div class="card">
        <div class="card-body">
            <partial name="_Formulario" model="Model" />
        </div>
    </div>
</form>
